{% extends 'login.html' %}
{% load static %}

{% block content %}
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">productname</th>
                            <th scope="col">category</th>
                            <th scope="col">view</th>
                        </tr>
                    </thead>
                    <tbody>
{% for i in details %}
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="{{i.product_id.productimage.url}}" style="height: 80px; width: 80px;">
                                    </div>
                                    <div class="media-body">
                                        <p>{{i.product_id.productname}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>{{i.product_id.productprice}}</h5>
                            </td>
                            <td>
                                <div class="product_count">
                                    <input type="text" name="qty" id="sst" maxlength="12" value="{{i.productquantity}}" title="Quantity:"
                                        class="input-text qty">
                                    
                                </div>
                            </td>
                            <td>
                                <h5 name="productprice">{{i.product_id.productprice}}</h5>
                            </td>
                            <td><a href="{% url 'deletecart' i.id %}"><button type="button" class="btn btn-danger">remove </button></a></td>
                        </tr>
{% endfor %}
                        <tr class="bottom_button">
                            <td>
                               
                           
                        <tr class="shipping_area">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                              
                            </td>
                            <td>
                                
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}










