{% extends 'login.html' %}
{% load static %}

{% block content %}
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">productimage</th>
                            <th scope="col"><b>productname</b></th>
                            <th scope="col">price</th>
                            <th scope="col"><b>view</b></th>
                        </tr>
                    </thead>
                    <tbody>
{% for i in details %}
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="{{i.product_id.productimage.url}}" style="height: 80px; width: 80px;">
                                    </div>
                                    
                                </div>
                            </td>
                            <td>
                                <h5>{{i.product_id.productname}}</h5>
                            </td>
                            <td>
                                <h5>{{i.product_id.productprice}}</h5>
                            </td>
                            
                            <td><a href="{% url 'deletecart' i.id %}"><button type="button" class="btn btn-success">viewbuyed</button></a></td>
                        </tr>
{% endfor %}
                        <tr class="bottom_button">
                            <td>
                               
                           
                        <tr class="shipping_area">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                              
                            </td>
                            <td>
                                
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}










