{% extends 'userindex.html' %}
{% load static %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container" align='center'>
    <div class="row" align='center'>
        <div class="col-xl-3 col-lg-4 col-md-5" style="margin-left: 420px;">
            <div class="sidebar-categories">
                <div class="head">Categories</div>
              

                <ul class="main-categories">
                   
                    
                    {% for i in deta %}
                    <li class="nav-item"><a class="btn-group-toggle" href="{% url 'viewcateogories' id=i.id %}">{{i.cateogoryname}}</a></li>
                  
                    {% endfor %}
                    
                </ul>

        
            </div>
        </div>
    </div>
</div>  
  
{% endblock %}