{% extends 'index1.html' %}
{% load static %}
<html lang="en">


        {% block content %}
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

           <h4>Products</h4>    

                <!-- Basic Tables end -->
            
                    <table class="table">
                        <thead>
                          <tr>

                            <th>#</th>
                            
                            
                            <th scope="col">customer name</th>
                            <th scope="col">customer number</th>
                            <th scope="col">customer Place</th>
                            <th scope="col">customer Adress</th>
                            <th scope="col">Email</th>
                            <th scope="col">product image</th>
                            <th scope="col">product Name</th>
                            <th scope="col">product price</th>
                            
                            <th>cancel order</th>
                          </tr>
                        </thead>
                        <tbody>
                            

                            {% for i in data %}
            
                          <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{i.user_id.username}}</td>

                             <td>{{i.user_id.phonenumber}}</td>
                             <td>{{i.city}}</td>
                             <td>{{i.address}}</td>
                             <td>{{i.user_id.email}}</td>
                             <td><img src="{{i.product_id.productimage.url}}" style="height: 80px; width: 80px;"></td>
                           
                             <Td>{{i.product_id.productname}}</Td>
                             <td>{{i.product_id.productprice}}</td>
                           
                             <td><a href="{% url 'deleteorder' i.id %}"><button type="button" class="btn btn-danger">cancel</button></a></td>  
                         </tr>
                         {% endfor %}
                        </tbody>
                      </table>
                    
                    </div>
                    <div class="card-body">
                        <div id="area"></div>
                    </div>
                </div>
            </div>
                <!--  Inverse table start -->
            </div>  
            {% endblock %}
